.training-list-container{
    border-color: black;
    border-radius: 1em;
    border-style: solid;
    padding: 15px 30px 5px 5px;
    margin: 5px;
    width: 350px;
}

ul{
    list-style-type: none;
}
li{
    margin-bottom: 5px;
}