.container{
    border-color: black;
    border-radius: 1em;
    border-style: solid;
    margin: 5px;
    width: 350px;
    display: inline-block;
    padding: 5px;
}
.training-editor-field{
    float: left;
    margin: 5px;
    height: 100%;
}
.training-editor-field-button{
    width: 50px;
}
div input{
    width: 120px;
}
div label{
    width: 120px;
}